@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
*::before, *::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  line-height: 1.5;
  scroll-behavior: smooth;
  background-color: hsl(225deg, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 400px;
  margin: 10vh auto;
  background-color: #fff;
  overflow: hidden;
  border-radius: 25px;
}

p {
  color: hsl(224deg, 23%, 55%);
}

.order_summary {
  width: 90%;
  margin: 1rem auto;
  text-align: center;
}

.plan {
  margin: 1rem 0;
  background-color: hsl(225deg, 100%, 98%);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

button {
  width: 100%;
  padding: 0.8rem 0rem;
  font-size: 0.9rem;
  letter-spacing: 0.4px;
  border: none;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  border-radius: 12px;
}
a:hover{
  color: blueviolet;
}
.proceed {
  background-color: hsl(245deg, 75%, 52%);
  color: #fff;
  box-shadow: 0 6px 10px -4px hsl(223deg, 47%, 23%);
}

.cancel {
  margin: .6rem 0;
  color: hsl(224deg, 23%, 55%);
  background-color: transparent;
}
.cancel:hover{
  color: hsl(224deg, 23%, 25%);
}

.proceed:hover{
  background-color: hsl(245deg, 75%, 60%);
  
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}